.err{
    color: red;
    text-align: center;

    margin-right:20px;

}

.final{
    text-align: center;
    margin-top: 50px;
}

a{
    text-align: center;
    margin-left:470px
}

h1{
    text-align:center;
    margin-top:50px;
}

body{
    margin-top: 50px;
}

.b{
    margin-top: 300px;
}

table{
  margin-left: 40%;
}
